.container {
    border: 1px solid #333;
    background-color: #fcf5f5;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 5px;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container span {
    font-size: 20px;
    margin-right: 15px;
    font-weight: 700;
  }
  
  @media (max-width: 500px) {
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
  }